/* ================== COMMON ================== */
/* For tegs */
body {
    background-color: var(--primary-white-color);
    font-family: var(--primary-font-family);
    color: var(--primary-black-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button {
    color: currentColor;
}

/* === Classes === */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Mobile-first */
.section {
  padding-bottom: 80px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 150px;
  }
}
/* ================== /COMMON ================== */