.team-title {
	color: var(--primary-black-color);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -0.64px;
	margin-bottom: 16px;
}
.team-upper {
	position: relative;
}
.team-upper::before {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 139px;
	height: 12px;
	border-radius: 8px;
	background-color: var(--light-2-green-color);
	z-index: -1;
}
.team-discription {
	color: var(--light-black-text-color);
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 40px;
}
.team-list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.team-card {
	text-align: center;
}
.team-img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
  border-radius: 50%;
}
.team-member {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.4px;
	margin-bottom: 8px;
}
.team-text {
	color: var(--light-black-text-color);
	font-size: 14px;
	line-height: 1.7;
}
@media screen and (min-width: 768px) {
	.team-list {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 32px;
		justify-content: center;
	}
	.team-upper::before {
		bottom: 3px;
		width: 170px;
		height: 20px;
	}
	.team-title {
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: -0.8px;
	}
	.team-discription {
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 64px;
	}
	.team-text {
		font-size: 16px;
		line-height: 1.5;
		width: 272px;
	}
}
@media screen and (min-width: 1280px) {
	.team-discription {
		width: 709px;
		margin-right: auto;
		margin-left: auto;
	}
	.team-list {
		width: 1024px;
		flex-wrap: nowrap;
		margin-right: auto;
		margin-left: auto;
	}
	.team-text {
		letter-spacing: -0.4px;
		width: 232px;
	}
	.team-item {
		width: 232px;
	}
}
