<section class="section" id="about-us">
	<div class="container">
		<div class="about-container">
			<h2 class="about-title">About <span class="about-asside">Us</span> </h2>
			<p class="about-text">
				We are dedicated to providing engaging and effective English language courses in a supportive and stimulating
				learning environment
			</p>

			<div class="about-warpper">
				<ol class="about-list">
					<li class="about-list-item"> Expert, innovative teaching staff </li>
					<li class="about-list-item"> Wide range of course levels and options </li>
					<li class="about-list-item"> Multicultural learning environment </li>
					<li class="about-list-item"> Comprehensive language support services </li>
				</ol>
			</div>
		</div>
	</div>
</section>
