<section class="section" id="footer">
	<div class="footer-container container">
		<div class="footer-content-wrap">
			<div class="footer-logo-adress-wrap">
				<a class="footer-logo link scroll-button" href="#header-top">english<span class="footer-logo-span">excellence</span>.</a>
				<address class="footer-contacts">
					<ul class="footer-contacts-list list">
						<li class="footer-contacts-item">
							<p class="footer-contact-text">Phone number:</p>
							<a class="footer-contacts-link link" href="tel:+380684439426">+380 (68) 443-94-26</a>
						</li>
						<li class="footer-contacts-item">
							<p class="footer-contact-text">Address:</p>
							<a
								class="footer-contacts-link link"
								href="https://maps.app.goo.gl/CSK1DhMEY9TRUXh29"
								target="_blank"
								rel="noopener noreferrer"
								>32a M. Bazhana ave</a
							>
						</li>
					</ul>
				</address>
			</div>
      
			<!-- navigation -->
			<nav class="footer-nav">
				<ul class="nav-list footer-nav-list list">
					<li class="nav-item">
						<a class="nav-link footer-nav-link link" href="#about-us">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link footer-nav-link link" href="#our-lessons">Our lessons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link footer-nav-link link" href="#teachers">Teachers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link footer-nav-link link" href="#reviews">Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link footer-nav-link link" href="#leave-section">Contact us</a>
					</li>
				</ul>
			</nav>
			<!-- sn -->
			<div class="footer-icon-wrapper">
				<ul class="footer-icon-list">
					<li class="footer-icon-item">
						<a
							class="footer-icon-link"
							href="https://www.facebook.com/goITclub/"
							target="_blank"
							rel="noopener norefferer"
						>
							<svg class="footer-icon" aria-label="facebook icon" width="28" height="28">
								<use href="./img/sprite.svg#icon-facebook"></use>
							</svg>
						</a>
					</li>
					<li class="footer-icon-item">
						<a
							class="footer-icon-link"
							href="https://www.instagram.com/goitclub/"
							target="_blank"
							rel="noopener norefferer"
						>
							<svg class="footer-icon" aria-label="instagram icon" width="28" height="28">
								<use href="./img/sprite.svg#icon-instagram"></use>
							</svg>
						</a>
					</li>
					<li class="footer-icon-item">
						<a class="footer-icon-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener norefferer">
							<svg class="footer-icon" aria-label="youtube icon" width="28" height="28">
								<use href="./img/sprite.svg#icon-youtube"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- tnc -->
		<div class="footer-vector">
			<div class="footer-text-wrapper">
				<p class="footer-text"> ©2023 English Excellence. All rights reserved. </p>
				<div class="footer-text-wrap">
          <p class="footer-text"><a href="" target="_blank" class="footer-link link">Privacy Policy</a></p>
          <p class="footer-text"><a href="" target="_blank" class="footer-link link">Terms of Service</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
