<section class="section">
  <div class="container">
    <div class="proposal">
      <h2 class="visually-hidden">Proposal to leave an application</h2>
      <p class="proposal-call">
        Master the
        <span class="proposal-call-green">Language</span>
        with Our English Package!
      </p>
      <div class="proposal-background-card first"></div>
      <div class="proposal-background-card middle"></div>
      <div class="proposal-card">
        <div class="proposal-card-box">
          <h3 class="proposal-card-title">Power of English</h3>
          <ul class="proposal-card-list">
            <li class="proposal-card-item">
              <div class="proposal-card-item-check">
                <svg width="20" height="20" class="">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p>Dive into captivating lessons designed to stimulate your curiosity.</p>
            </li>
            <li class="proposal-card-item">
              <div class="proposal-card-item-check">
                <svg width="20" height="20" class="">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p>Learn in a nurturing setting where every student's progress matters.</p>
            </li>
            <li class="proposal-card-item">
              <div class="proposal-card-item-check">
                <svg width="20" height="20">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p>Experience the satisfaction of real progress as your language skills and confidence grow with every session.</p>
            </li>
          </ul>
          <div class="button proposal-button">
            <a href="#">Leave an application</a>
          </div>
        </div>
        <img
          class="proposal-card-img"
          srcset="./img/proposal-img/stack-of-books.webp 1x,
            ./img/proposal-img/stack-of-books@2x.webp 2x"
          src="./img/proposal-img/stack-of-books.webp"
          alt="Steck of books"
          width="214"
          height="163"
        />
      </div>
    </div>
  </div>
</section>
