<section class="review-container container section" id="reviews">
  <h2 class="review-title">What our <span class="accent">students</span> say</h2>
  <p class="review-text">Hear from our students about their learning journey with us, as they share their
    experiences, progress, and
    the transformative impact </p>
  <div class="review-list-container">
    <ul class="review-list">
      <li class="review-list-item">
        <div class="review-card-container">
          <img class="review-img" srcset="./img/review/img-1.jpg 1x, ./img/review/img-1@2x.jpg 2x"
            src="./img/review/img-1.jpg" alt="student's photo" loading="lazy" width="50" height="50"></img>
          <div class="card-container-small">
            <h3 class="review-user-name">Anna</h3>
            <p class="review-user-position">Student</p>
          </div>
        </div>
        <p class="review-user-text">My experience at the language school has been nothing short of amazing.
          The teachers are dedicated and the learning environment is stimulating. I feel more confident in
          my English skills.</p>
      </li>
      <li class="review-list-item">
        <div class="review-card-container">
          <img class="review-img" srcset="./img/review/img-2.jpg 1x, ./img/review/img-2@2x.jpg 2x"
            src="./img/review/img-2.jpg" alt="student's photo" loading="lazy" width="50" height="50"></img>
          <div class="card-container-small">
            <h3 class="review-user-name">Mykhailo</h3>
            <p class="review-user-position">Student</p>
          </div>
        </div>
        <p class="review-user-text">The school offers a great balance of language theory and practical exercises. The
          personalized feedback from the teachers has helped me improve my weak areas.</p>
      </li>
      <li class="review-list-item">
        <div class="review-card-container">
          <img class="review-img" srcset="./img/review/img-3.jpg 1x, ./img/review/img-3@2x.jpg 2x"
            src="./img/review/img-3.jpg" alt="student's photo" loading="lazy" width="50" height="50"></img>
          <div class="card-container-small">
            <h3 class="review-user-name">Victoria</h3>
            <p class="review-user-position">Student</p>
          </div>
        </div>
        <p class="review-user-text">I love the dynamic and interactive teaching methods used here. It's a great place to
          learn English in a fun and effective way. I have definitely seen a big improvement in my language skills.</p>
      </li>
    </ul>
  </div>

</section>