<section class="section">
  <div class="container">
    <h2 class="team-header">Meet our teachers</h2>
    <p class="team-discription">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <div class="team-folder">
      <ul class="team-list list">
        <li class="team-card">
          <img
            srcset="
              ../img/teachers-img/Maria.jpg    1x,
              ../img/teachers-img/Maria@2x.jpg 2x
            "
            src="../img/teachers-img/Maria.jpg"
            width="150"
            alt="Maria"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Maria</h3>
            <p class="team-text">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
          </div>
        </li>
        <li class="team-card">
          <img
            srcset="
              ../img/teachers-img/Artem.jpg    1x,
              ../img/teachers-img/Artem@2x.jpg 2x
            "
            src="../img/teachers-img/Artem.jpg"
            width="150"
            alt="Artem"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Artem</h3>
            <p class="team-text">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
          </div>
        </li>
        <li class="team-card">
          <img
            srcset="
              ../img/teachers-img/Ilona.jpg    1x,
              ../img/teachers-img/Ilona@2x.jpg 2x
            "
            src="../img/teachers-img/Ilona.jpg"
            width="150"
            alt="Ilona"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Ilona</h3>
            <p class="team-text">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
          </div>
        </li>
        <li class="team-card">
          <img
            srcset="
              ../img/teachers-img/Volodymyr.jpg    1x,
              ../img/teachers-img/Volodymyr@2x.jpg 2x
            "
            src="../img/teachers-img/Volodymyr.jpg"
            width="150"
            alt="Volodymyr"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Volodymyr</h3>
            <p class="team-text">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>