<section class="section-team" id="teachers">
  <div class="team-container container">
    <h2 class="team-title">Meet our <span class="team-upper">teachers</span> </h2>
    <p class="team-discription">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    
      <ul class="team-list list">
        <li class="team-card">
          <img
            srcset="
              ./img/teachers-img/maria.jpg    1x,
              ./img/teachers-img/maria@2x.jpg 2x
            "
            src="./img/teachers-img/maria.jpg"
            width="150"
            height="150"
            alt="Maria"
            loading="lazy" 
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Maria</h3>
            <p class="team-text">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
          </div>
        </li>
        <li class="team-card">
          <img
            srcset="
              ./img/teachers-img/artem.jpg    1x,
              ./img/teachers-img/artem@2x.jpg 2x
            "
            src="./img/teachers-img/artem.jpg"
            width="150"
            height="150"
            alt="Artem"
            loading="lazy"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Artem</h3>
            <p class="team-text">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
          </div>
        </li>
        <li class="team-card">
          <img
            srcset="
              ./img/teachers-img/ilona.jpg    1x,
              ./img/teachers-img/ilona@2x.jpg 2x
            "
            src="./img/teachers-img/ilona.jpg"
            width="150"
            height="150"
            alt="Ilona"
            loading="lazy"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Ilona</h3>
            <p class="team-text">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
          </div>
        </li>
        <li class="team-card">
          <img
            srcset="
              ./img/teachers-img/volodymyr.jpg    1x,
              ./img/teachers-img/volodymyr@2x.jpg 2x
            "
            src="./img/teachers-img/volodymyr.jpg"
            width="150"
            height="150"
            alt="Volodymyr"
            loading="lazy"
            class="team-img"
          />
          <div class="team-item">
            <h3 class="team-member">Volodymyr</h3>
            <p class="team-text">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
          </div>
        </li>
      </ul>
    
  </div>
</section>